@media screen and (max-width:855px) {

    .nav-desktop{
        display:none;
    }
    .nav-mobile{
        display:flex;
    }
    .header-text-container{
        min-width: 100%;
    }
    .header-banner-section{
        padding: 80px 0 30px 0;
        background-position: center;
    }
    /* explore foods section starts here */
    .explorefoods-card{
        margin: 20px 0;
    }
    /* explore foods section ends here */
    /* faq section starts here */

    .faq-items{
        min-width: 100%;
    }
    /* faq section ends here */
    
}